header h1 {
  font-size: 60px;
  cursor: pointer;
}
header select,
header button {
  padding: 5px 15px;
}
button {
  background-color: rgb(143, 142, 158);
  color: aliceblue;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
#images_section_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#photo-template {
  width: 27%;
  margin: 30px 1.5%;
  text-align: center;
  border: 3px solid #ddd;
  padding: 10px;
  box-shadow: 20px 20px 10px gray;
}
/* #photo-template:hover {
  width: 50%;
  font-size: 50px;
  position: fixed;
  top: 20%;
  background-color: rgb(240, 248, 255);
  box-shadow: 200px 100px 1000px gray;
  z-index: 1;
} */

#photo-template h2 {
  font-size: 20px;
  font-weight: bold;
}
#photo-template img {
  width: 60%;
  height: 200px;
  margin: 30px 0px;
}
