@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
}

/*----start header----*/
header {
  height: 100px;
}
header h1,
select {
  float: left;
  margin-top: 40px;
}
header h1 {
  margin-left: 500px;
  font-size: 60px;
}
header select {
  float: right;
  margin-right: 70px;
}
/*----end header----*/

/*----start main----*/
main {
  width: 80%;
  margin: 80px auto;
}
#photo-template {
  width: 30%;
  height: 300px;
  float: left;
  margin: 30px 1.5%;
  text-align: center;
}
main img {
  width: 60%;
  height: 200px;
  border: 7px ridge rgb(201, 198, 198);
  border-radius: 20%;
}

/*----end main----*/
/*----start footer----*/
footer {
  width: 100%;
  height: 70px;
  display: inline-block;
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
}

/*----end footer----*/
.hide {
  display: none;
}
